@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img src="~/Imagens_carrinho/cart-5-16.icon" /></span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}
