<div class="container">
    <img src="~/imagens_contato/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
            <img src="~/imagens_contato/Envelope-icon24.png" />
            </span>

            <h5><a href="mailto:gabriel_17_silva@outlook.com">Enviar um e-mail</a></h5>

            <br />
            <span>
                <img src="~/imagens_contato/phone-app-icon.png" />
            </span>
            <h5>(11) 98537-5094</h5>
            <br />
            <span>
                <img src="~/imagens_contato/Home-iconred.png" />
            </span>
            <h5>Rua Yunes Demétrio Sabbag, 391, Alvinópolis, Atibaia, Sao Paulo, Brazil 12943260</h5>
        </p>
    </div>
</div>
